<h3>Добавить новый элемент меню</h3>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <div class="form-group">
      <mat-form-field>
          <input matInput name="name" #name="ngModel" placeholder="Name food" [(ngModel)]="formData.name" class="form-control" required>
          <div *ngIf="name.invalid && name.touched" class="validation-error">This field is required.</div>
      </mat-form-field>
  </div>
  <div class="form-group">
      <mat-form-field>
          <input matInput placeholder="Price of food" name="price" type="number" [(ngModel)]="formData.price" class="form-control">
      </mat-form-field>
  </div>
  <div class="form-group">
      <mat-form-field>
          <input matInput placeholder="Quantity of food" name="qty" type="number" [(ngModel)]="formData.qty" class="form-control">
      </mat-form-field>
  </div>
  <div class="form-group">
      <mat-form-field>
          <input matInput placeholder="Discount" name="discount" type="number" [(ngModel)]="formData.discount" min="0" max="50" class="form-control">
      </mat-form-field>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-info">SUBMIT</button>
  </div>
</form>